.btndiv {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.bluebtn {
    font-size: 20px;
    background: linear-gradient(10deg, #223ECC, #048AD4);
    color: white;
    text-decoration: none;
    padding: 10px 3em;
    border-radius: 2em;
    margin-right: 10px;
}
.link {
    color: #394eb4;
    text-decoration: none;
}
.link:hover {
    font-size: 1.1em;
    color: #111d58;
    text-decoration: none;
}
.link:active {
    font-size: 0.9em;
    color: #1A2A7B;
    text-decoration: none;
}
.text {
    font-size: 15px;
    margin: 0px;
}
.bluebtn:hover {
    background: linear-gradient(10deg, #3754e4, #19a5f0);
}
.bluebtn:active {
    background: linear-gradient(10deg, #11299e, #006ca7);
}
@media (max-width: 700px) {
    .btndiv {
        justify-content: space-evenly;
    }
}