.divinfo {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 60%;
}
.close {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: grey;
}
.form {
    background-color: bisque;
    margin-top: 80px;
    margin-left: 50px;
}
label {
    text-transform: uppercase;
    font-size: 15px;
    color: gray;
}
input {
    font-size: 20px;
    border: none;
    border-bottom: dotted grey 2px;
}
form > p {
    color: gray;
}