body {
    background-image: linear-gradient(90deg, purple, skyblue);
    font-family: arial;
}
.main{
    display: flex;
}
.section {
    display: flex;
    align-content: center;
    background-color: red;
    width: 900px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.divinfo {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 60%;
}
.close {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: grey;
}
.form {
    background-color: bisque;
    margin-top: 80px;
    margin-left: 50px;
}
label {
    text-transform: uppercase;
    font-size: 15px;
    color: gray;
}
input {
    font-size: 20px;
    border: none;
    border-bottom: dotted grey 2px;
}