.divpic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: green;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.divpic > .title {
    margin-top: 50px;
    margin-left: 20px;
}
.divpic > .footnote {
    margin-left: 20px;
    margin-bottom: 20px;
}