body {
    font-family: arial;
}
.main{
    display: flex;
}
.section {
    display: flex;
    align-content: center;
    background-color: red;
    width: 700px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.divpic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: green;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.divinfo {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 60%;
}
.close {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: grey;
}
.form {
    background-color: bisque;
    margin-top: 20%;
    margin-left: 10%;
}
.btn {
    display: flex;
    align-content: flex-start;
    align-items: center;
    background-color: yellowgreen;
    margin-left: 10%;
    margin-bottom: 10%;
}